<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/formularioRamos.css'%}">
    <title>Formulario Ramos</title>
</head>
<body>
    <h1>Formulario de ramos</h1>
    <form method="post" action="{% url 'formulario_ramos' %}">
        <label>Nombre:</label>
        <br />
        <input type="text" name="nombre">
        <br />
        <label>Carrera:</label>
        <br />
        <input type="text" name="carrera">
        <br />
        <label>Descripción:</label>
        <br />
        <input type="text" name="descripcion">
        <br />
        <label>Creditos:</label>
        <br />
        <input type="number" name="creditos">
        <br />
        <label>Horas:</label>
        <br />
        <input type="number" name="horas">
        <br />
        <label>Sala:</label>
        <br />
        <input type="text" name="sala">
        <br />
            {{ form.as_p }}
            {% csrf_token %}
            <button type="submit">Enviar</button>
    </form>
</body>
</html>